<div class='version'>
  <a href="http://groups.google.com/group/wwwmake">Questions? Comments?</a> |
  <span>
    <a href="https://github.com/writekit/kramdown-service">kramdown-service/<%= KramdownService::VERSION %></a> using 
  </span>
  <a href="https://github.com/gettalong/kramdown">kramdown/<%= Kramdown::VERSION %></a> - 
  <span>Ruby/<%= "#{RUBY_VERSION} (#{RUBY_RELEASE_DATE}/#{RUBY_PLATFORM})" %> on</span>
  <span>Sinatra/<%= Sinatra::VERSION %> (<%= ENV['RACK_ENV'] %>)</span>
</div>
