
<script>

 var show_html = false;

 function toggle_output() {
    var $toggle_output = $( '#toggle-output' );
    var $output        = $( '#output' );
    var $output_source = $( '#output-source' );
    
    show_html = !show_html;
    
    if( show_html ) {
      $toggle_output.html( '[ Hide HTML ]' );
      $output.hide();
      $output_source.show();
    }
    else {
      $toggle_output.html( '[ Show HTML ]' );
      $output.show();
      $output_source.hide();
    }
 }

 function process_markdown() {
    var params = $( '#notepad, #notepad-lib' ).serialize();
    
    // window.alert( params );
    
    $.get( '/markdown', params, function( data ){
       
       var $output        = $( '#output' );
       var $output_source = $( '#output-source' );
       // window.alert( html );
       
       // todo: check if data.html present? or content type js/json
       //  allow dingus-style { 'html': 'dddddd' }
       $output.html( data );
       $output_source.html( data );
    });
 }
 
</script>


<table width='100%'>
 <colgroup>
   <col width='50%'>
   <col width='50%'>
 </colgroup>
 <tr>
   <td>
     <!-- first column -->

<div id='input'>
    <textarea id='notepad' name='text' style='width: 100%; min-height: 500px;'><%= @welcome_markdown %></textarea>
</div>

   </td>
   <td style='vertical-align: top;'>
     <!-- second column -->

<div id='output' class='markdown' style='width:100%; padding-left: 10px;'>
   <%= @welcome_html %>
</div>

 <textarea id='output-source' style='display: none; width: 100%; min-height: 500px;'><%= @welcome_html %></textarea>

  <div id='loading' style='display: none;'></div>
 
   </td>
 </tr>
 <tr>
  <td>
    <!-- first column -->
    <span>
      Use
       <select id='notepad-lib' name='lib'>
         <% Markdown.libs.each_with_index do |lib,i| %>
           <option value='<%= lib %>'
               <% if i == 0 %>
                  selected='selected'
               <% end %> >
             <%= lib %></option>
          <% end %>
       </select>
    </span>

    <a href='#' onclick='process_markdown();'>[ Update ]</a>

  </td>
  <td><!-- second column -->
    <a id='toggle-output' href='#' onclick='toggle_output();'>[ Show HTML ]</a>
  </td>
 </tr>
</table>
